In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
%matplotlib inline

In [2]:
#connexion a la base de donnee
connexion_sql = sqlite3.connect("../db.sqlite3")
pd.set_option("display.max_colwidth", -1)

#charger les donnees du datasets
df = pd.read_sql_query("SELECT * from message_wolof_message_wolof", connexion_sql)

C:\Users\MOHAM\AppData\Local\Temp/ipykernel_16472/188488025.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option("display.max_colwidth", -1)

In [3]:
df.head()

   id                 message   emotion
0  1   hitler de na            Positive
1  2   amna bac si atoum 2019  Positive

# Data explorating

In [4]:
df["emotion"].value_counts()

Positive    2
Name: emotion, dtype: int64

In [5]:
#Enregistrer le dataset
df.to_csv("data/messages.csv")