In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
%matplotlib inline

In [5]:
#connexion a la base de donnee
connexion_sql = sqlite3.connect("../db.sqlite3")
pd.set_option("display")
df = pd.read_sql_query("SELECT * from message_wolof_message_wolof", connexion_sql)

In [6]:
df.head()

   id                                            message   emotion
0   1                                                hey  Positive
1   2                                       hey everyone  Positive
2   3  Site web collaboratif, au développement duquel...  Negative
3   4                                           je teste  Negative